.invalid{
    border-color: #e60025;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

label {
    display: flex;
    align-items: center;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

#form-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 424px;
    width: 100%;
    gap: 20px;
}

#form-left{
    width: 376px;
    height: 440px;
}

#form-right{
    width: 400px;
    height: 440px;
}

input, textarea{
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
}

input::placeholder, textarea::placeholder{
    color: rgba(209, 209, 209, 1);
    padding-left: 21px;
}


input {
    height: 48px;
}

textarea {
    height: 120px;
    padding-top: 12px;
}


#title-container{
    margin-bottom: 10px;
}

#description-container{
    margin-bottom: 10px;
}

#separator{
    width: 1px;
    height: 424px;
    background-color: rgba(209, 209, 209, 1);
}