body {
    background-color: var(--background);
}

.invalid {
    border-color: var(--invalideColor);
}

label {
    display: flex;
    align-items: center;
    pointer-events: none;
    margin-bottom: 8px;
    height: 24px;
    font-size: 20px;
}

#content-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    max-width: 1920px;
    max-height: calc(1440px - 96px);
}

#top-section {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
}

h2 {
    align-self: flex-start;
    font-size: 60px;
    font-weight: bolder;
}

#form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

#form-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 396px;
}

#form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    scrollbar-gutter: stable;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 0 20px 0 20px;
    transition: 200ms;
}

textarea {
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--ligthGrey);
}

input[type="date"]::-webkit-datetime-edit {
    color: var(--ligthGrey);
}

input[type="date"]:focus::-webkit-datetime-edit,
input[type="date"].has-value::-webkit-datetime-edit {
    color: black;
}

input {
    height: 48px;
}

input:hover,
textarea:hover {
    cursor: pointer;
}

input:focus,
textarea:focus {
    border: 1px solid #2aaae2;
    outline: none;
}

textarea {
    height: 120px;
    padding-top: 12px;
}

.warning-message {
    height: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
}

#category-warning{
    margin-bottom: 10px;
}

#title-container {
    margin-bottom: 10px;
}

#description-container {
    margin-bottom: 10px;
}

#date {
    cursor: pointer;
}

#separator {
    width: 1px;
    height: 100%;
    background-color: var(--ligthGrey);
}

#priority-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#form-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priority-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 56px;
    width: 30%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--contrastColor);
}

.priority-buttons:not(.no-hover):hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}



#assignment-container {
    margin-bottom: 20px;
}

#assign-input-box {
    position: relative;
}

#assign-input::placeholder,
#category-input input::placeholder {
    color: black;
}

#assign-input:focus::placeholder {
    color: transparent;
    transition: 200ms;
}

#category-input {
    position: relative;
    caret-color: transparent;
}

.dropdown-img-container {
    width: 20px;
    height: 20px;
}

.dropdown-img-container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-img-container:hover {
    background-color: var(--ligthGrey);
    cursor: pointer;
}

#contacts-dropdown,
#category-dropdown {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    width: 100%;
    background-color: var(--contrastColor);
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -8px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#contacts-dropdown.open {
    max-height: 280px;
    overflow-y: auto;
    opacity: 1;
    border-top: none;
    margin-top: -8px;
    box-sizing: border-box;
}

#category-dropdown.open {
    max-height: 280px;
    opacity: 1;
    margin-top: -8px;
    border-top: none;
    box-sizing: border-box;
}

.dropdown-box {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 2px 12px 2px 12px;
    transition: 200ms;
    border-radius: 10px;
    gap: 12px;
    box-sizing: border-box;
}

.selected-contact {
    background-color: var(--primerColor) !important;
    color: var(--contrastColor);
}

.selected-contact:hover {
    background-color: #091930 !important;
}

.dropdown-box:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.contact-initials,
.chosen-contact-initials {
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid white 2px;
    border-radius: 50%;
}

.contact-name-checkbox {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.checkbox {
    width: 16px;
}

.checkbox-active {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

#chosen-contacts {
    display: flex;
    gap: 6px;
    height: 56px;
    align-items: center;
}

#contacts-dropdown.open ~ #chosen-contacts {
    display: none;
}

.category-box {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    transition: 200ms;
}

.rotate {
    transform: rotate(180deg);
}

#subtask-input-wrapper {
    position: relative;
}

#subtask-button-container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 56px;
}

.subtask-button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.subtask-button:hover {
    cursor: pointer;
    background-color: var(--ligthGrey);
}

#subtask-list-container {
    min-height: 132px;
    max-height: 132px;
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    padding-inline-start: 0px;
}

li {
    padding: 4px 20px 4px 20px;
}

.subtask-element-box {
    list-style-position: inside;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.subtask-element-box input {
    width: 100%;
    padding: 4px 20px !important;
    text-align: left !important;
    box-sizing: border-box !important;
}

.subtask-element-box:hover {
    background-color: #e9e8e8;
    cursor: pointer;
}

.subtask-element-box:hover .subtask-list-button-container {
    visibility: visible;
}

#subtask-list-container{
    min-height: 132px;
    max-height: 132px;
    overflow-y: auto;
    overflow-x: hidden;
}

.subtask-list-button-container {
    width: 56px;
    display: flex;
    visibility: hidden;
    justify-content: space-evenly;
    align-items: center;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.subtask-list-button {
    width: 14px;
}

#edit_subtask_input {
    height: 30px;
    border-radius: 0;
    border-bottom: #2aaae2 solid 2px;
    text-align: left;
}

#bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1440px;
    box-sizing: border-box;
}

#required-info {
    display: flex;
}

#required-info p {
    font-size: 20px;
    font-weight: 400;
}

#bottom-button-container {
    display: flex;
    gap: 16px;
    z-index: 10;
}

#clear-task-button,
#create-task-button {
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 20px;
    font-weight: 400;
}

#clear-task-button {
    background-color: #f6f7f8;
    color: var(--primerColor);
    border: 1px solid var(--primerColor);
    box-sizing: border-box;
    width: 110px;
    height: 56px;
}

#create-task-button {
    background-color: var(--primerColor);
    color: var(--contrastColor);
    border: none;
    box-sizing: border-box;
    width: 183px;
    height: 56px;
    transition: 200ms;
}

#create-task-button img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(123deg) brightness(104%) contrast(100%);
}

#clear-task-button:hover {
    color: var(--secondColor);
    border: 1px solid var(--secondColor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 200ms;
}

#clear-task-button:hover img {
    filter: brightness(0) saturate(100%) invert(77%) sepia(54%) saturate(5514%) hue-rotate(165deg) brightness(96%) contrast(83%);
}

#create-task-button:hover {
    background-color: var(--secondColor);
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#task-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--contrastColor);
    width: 240px;
    gap: 12px;

    position: fixed;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 100%);
    opacity: 1;

    background-color: var(--primerColor);
    border-radius: 12px;
    padding: 12px 20px;

    z-index: 1000;

    transition:
        transform 300ms ease
}

#task-message.active {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.overlay {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 12px;
}

@media (max-width: 1100px) {
    #board-task-content-section {
        padding: 16px;
    }

    #top-section {
        padding-top: 16px;
        gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 80px;
        background-color: #f6f7f8;
    }

    #header,
    header {
        height: 80px;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    header {
        padding: 0 16px 0 16px;
    }

    #help-button {
        display: none;
    }

    #user-icon {
        width: 40px;
        height: 40px;
    }

    #user-initials {
        font-size: 16px;
    }

    h2 {
        box-sizing: border-box;
        height: 112px;
        width: 101%;
        margin-block-start: 0;
        margin-block-end: 0;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        background-color: #f6f7f8;
        font-size: 47px;
        padding-bottom: 8px;
        z-index: 9;
    }

    #top-section {
        padding-top: 16px;
        gap: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    #form-right,
    #form-left {
        flex: none;
    }

    #form-right {
        scrollbar-gutter: auto;
    }

    #main-container {
        justify-content: flex-start
    }

    #side-bar {
        z-index: 10;
        position: fixed;
        bottom: 0;
    }

    label {
        height: 19px;
        font-size: 16px;
    }

    #form-container {
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        justify-content: flex-start;
    }

    input {
        height: 40px;
        padding: 10px 21px 10px 21px;
    }

    textarea {
        padding: 18px 21px 18px 21px;
        height: 88px;
    }

    input,
    textarea {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #contacts-dropdown.open {
        margin-top: -18px;
    }

     #category-dropdown.open {
        margin-top: -30px;
    }

    .dropdown-box {
        padding: 0 12px 0 12px;
        height: 52px;
    }

    .dropdown-img-container {
        transform: translateY(-70%);
    }

    #bottom-button-container {
        position: fixed;
        bottom: 80px;
        right: 10px;
        padding-bottom: 10px;
    }

    #separator {
        display: none;
    }

    #priority-container {
        height: 88px;
    }

    #form-buttons {
        height: 61px;
        display: flex;
        align-items: center;
    }

    .priority-buttons {
        height: 41px;
        font-size: 16px;
        gap: 8px;
    }

    .priority-button-img {
        width: 16px;
    }

    #subtask-button-container {
        top: 40%;
    }

    #bottom-section {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 40px;
        padding-left: 16px;
    }

    #content-section {
        width: 100% !important;
        height: 100% !important;
    }

    #form-container {
        max-height: 100% !important;
        overflow-x: hidden;
    }

    #required-info p {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    h2 {
        height: 80px;
    }

    #bottom-button-container {
        right: 4px;
    }
}