p {
    margin-block-start: 0;
    margin-block-end: 0;
}

label {
    display: flex;
    align-items: center;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form-container{
    display: flex;
    height: 424px;
    width: auto;
}

#form-left{
    width: 376px;
}

input{
    width: 100%;
}

textarea{
    width: 100%;
}

#title-container{
    margin-bottom: 10px;
}

#description-container{
    margin-bottom: 10px;
}

#date-container{
    
}