.invalid{
    border-color: #e60025;
}

.no-hover{}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

label {
    display: flex;
    align-items: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7f8;
}

#main {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    font-size: 60px;
    font-weight: bolder;
    margin-block-end: 0;
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

#form-left{
    flex: 1;
}

#form-right{
    flex: 1;
}

input, textarea{
    width: calc(100% - 40px);
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 0 20px 0 20px;
}

input::placeholder, textarea::placeholder{
    color: rgba(209, 209, 209, 1);
}


input {
    height: 46px;
}

textarea {
    height: 106px;
    padding-top: 12px;
}


#title-container{
    margin-bottom: 10px;
}

#description-container{
    margin-bottom: 10px;
}

#separator{
    width: 1px;
    height: 424px;
    background-color: rgba(209, 209, 209, 1);
}

#priority-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#form-buttons {
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.priority-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 56px;
    width: 30%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.priority-buttons:not(.no-hover):hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor:pointer;
}