/* Join Board Input Styles */
top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 90%;
}

.find-container{
    display:flex;
    gap: 32px;
}

input, textarea{
    width: 312px;
    height: 48px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 0 20px 0 20px;
    transition: 200ms;
}

textarea {
    resize: none;
}

input::placeholder, textarea::placeholder{
    color: rgba(209, 209, 209, 1);
}


input:hover, textarea:hover {
    cursor: pointer;
}

input:focus, textarea:focus {
    border: 1px solid #2aaae2;
    outline: none;
}

textarea {
    height: 106px;
    padding-top: 12px;
}

/* Buttons */
.add-task-button{
    width: 160px;
    height: 48px;
    background-color: #2A3647;
    color:white;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-style: bold;
}

/* main section */


.progress{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 24px;
}

.tasks-status-row {
    display: flex;
    flex-direction: row;
    width: 224px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    color: #42526E;
}

.add-plus{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #2A3647 solid;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    color: #2A3647;
}