#sign_up_button {
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #293647;
    padding: 15px 24px 15px 24px;
    border: none;
    border-radius: 8px;
}

#sign_up_button:hover {
    background-color: #2aaae2;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: ease-in-out 100ms;
}