button {
    font-size: 21px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 8px;
    cursor: pointer;
}

.buttonLoginSignup{
    background-color: var(--primerColor);
    color: var(--contrastColor);
    border: none;
}

.buttonLoginSignup:hover {
    background-color: var(--secondColor);
}

.buttonGuest {
    background-color: var(--contrastColor);
    color: var(--primerColor);
    border: none;
    outline: 1px solid var(--primerColor);
    outline-offset: -1px;
}
.buttonGuest:hover {
    outline-color: var(--secondColor);
    color: var(--secondColor);
}