button {
    font-size: 21px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: 100ms;
}

.buttonLoginSignup {
    background-color: var(--primerColor);
    color: var(--contrastColor);
    border: none;
}

.buttonLoginSignup:hover {
    background-color: var(--secondColor);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonGuest {
    background-color: var(--contrastColor);
    color: var(--primerColor);
    border: none;
    outline: 1px solid var(--primerColor);
    outline-offset: -1px;
}

.buttonGuest:hover {
    outline-color: var(--secondColor);
    color: var(--secondColor);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 780px) {
    button {
        font-size: 16px;
    }
}