main {
    display: flex;
    height: calc(100vh - 96px);
    width: 100%;
    padding: 0;
}

.sideBar {
    width: 30%;
    max-width: 456px;
    background: var(--contrastColor);
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto; 
}

.addNewContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    


    button {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: var(--primerColor);
        color: var(--contrastColor);
        border: none;
        gap: 12px;
        padding: 12px;

        &:hover {
            background-color: var(--secondColor);
        }
    }
}

#contacList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 12px;

    .sectionList {
        width: 42px;
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-left: 12px;
    }
    hr {
        border: none;
        height: 1px;
        background-color: var(--ligthGrey);
        margin: 8px 0;
    }
}

.contactEntry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 12px;
    border-radius: 12px;

    &:hover {
        background-color: var(--primerColor);
        color: var(--contrastColor);
    }
}

.contactlistIcon {
    width: 42px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--secondColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--contrastColor);
    border: solid 2px var(--contrastColor);
    flex-shrink: 0;
}

.contactDitails {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0; 

    .name,
    .mail {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .name {
        font-size: 20px;
    }
    .mail {
        color: var(--linkColor);
        font-size: 16px;
    }    
}



/* ---------------------------------------------------- */

.contacts{
    flex: 1;
    padding: 20px;
    border-left: 2px solid #ddd;
}

.contactHeader {
    display: flex;
    justify-content: flex-start; 
    align-items: center;  
    gap: 12px;

    .desktop {
        width: 3px;
        height: 59px;
        border: none;
        background-color: var(--secondColor);
        margin: 8px;
    }

    .mobile {
        display: none;
    }

    h2 {
        font-size: 27px;
        font-weight: 400;
        color: var(--primerColor);
    }
}

.contactBackArrow {
    display: none;
}

#contactSelectet {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
}

.selectedIconName {
    display: flex;
    align-items: center;
    gap: 16px;
}

.selectetIcon {
    width: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--secondColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--contrastColor);
    border: solid 3px var(--contrastColor);
    font-size: 47px;
    font-weight: 500;
}

.selectedName {
    font-size: 47px;
    font-weight: 500;
}

.selectedNameButtons {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    button{
        color: var(--primerColor);
        border: none;
        background-color: transparent;
        font-size: 16px;
        padding: 12px 0;
        display: flex;
        gap: 8px;
    }
}

.contactInfos {
    margin-top: 32px;
}

table {
    width: 100%;
    margin-top: 24px;
    border-collapse: collapse;

    th {
        text-align: left;
        padding: 12px 0;
    }
    .mail {
        color: var(--linkColor);
    }
}

.sideBarOption {
    display: none;
    position: absolute;
    bottom: 112px;
    right: 16px;

    button {
        display: flex;
        height: 56px;
        width: 56px;
        padding: 0;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: var(--primerColor);
        border-radius: 50%;
    }
}

#mobileEditeBar {
    position: fixed;
    z-index: 100;
    display: none;
    flex-direction: column;
    width: 116px;
    bottom: 112px;
    right: 8px;
    background-color: var(--contrastColor);
    border: solid 2px var(--contrastColor);
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &.visible {
    display: flex;
    }

    button {
        display: flex;
        border: none;
        background-color: transparent;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;
        color: var(--primerColor);
    }   
}

dialog {
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    width: 80%;
    display: flex;
    padding: 0;
}

.ACBetterTeam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background-color: var(--primerColor);
    border-radius: 12px 0 0 12px;
    padding: 12px;
    color: var(--contrastColor);


    img {
        width: 56px;
        height: auto;
    }

    hr {
        border: solid 3px var(--secondColor);
        width: 90px;
    }

    /* img {
        width: 120px;
        height: auto;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        color: var(--primerColor);
    } */
}





@media (max-width: 1100px) {
    main {
        display: block;
        height: calc(100vh - 96px - 80px);
    }

    .sideBar {
        width: 100%;
        max-width: calc(100% - 24px);
        padding: 12px 12px;
        display: block;

        &.hidden {
            display: none;
        }
    }

    .addNewContact {
        display: none;
    }

    .contacts {
        width: calc(100% - 42Px);
        display: none;
        
        &.visible {
            display: block;
        }
    }

    .contactHeader {
        display: block;
        flex-direction: column;
        gap: 8px;

        h1 {
            font-size: 47px;
            margin-bottom: 0;
        }
        h2 {
            font-size: 20px;
            margin-top: 0;
        }
        .desktop {
            display: none;
        }
        .mobile {
            height: 3px;
            width: 90px;
            border: none;
            background-color: var(--secondColor);
            display: flex;
            justify-content: flex-start;
            margin: 0;
        }
    }

    .selectetIcon {
        width: 80px;
        font-size: 27px;
    }

    .selectedName {
        font-size: 36px;
    }  
    
    .selectedNameButtons {
        display: none;
    }

    .contactBackArrow {
        display:flex;
        position: absolute;
        top: 140px;
        right: 20px;
        aspect-ratio: 1 / 1;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: transparent;
        border: none;

        img {
            height: 24px;
            width: auto;
        }
    }

    .sideBarOption {
        display: block;
    }

    /* .back-btn {
        display: inline-block;
        margin-bottom: 10px;
    } */
}