main {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 0;
}

.sideBar {
    width: 35%;
    background: var(--contrastColor);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto; 
}

.addNewContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    button {
        display: flex;
        background-color: var(--primerColor);
        color: var(--contrastColor);
        border: none;
        gap: 12px;

        &:hover {
            background-color: var(--secondColor);
        }
    }
}

/* ---------------------------------------------------- */

.contacts{
    flex: 1;
    padding: 20px;
    border-left: 2px solid #ddd;
}

.contactHeader {
    display: flex;
    justify-content: center; 
    align-items: center;  
    text-align: center;          
    gap: 12px;

    hr {
        width: 3px;
        height: 59px;
        border: none;
        background-color: var(--secondColor);
    }

    h2 {
        font-size: 27px;
        font-weight: 400;
        color: var(--primerColor);
    }
}