main {
    display: flex;
    height: calc(100vh - 96px);
    width: 100%;
    max-width: 1920px;
    padding: 0;
}

.sideBar {
    width: 30%;
    max-width: 456px;
    background: var(--contrastColor);
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
}

.addNewContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    button {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: var(--primerColor);
        color: var(--contrastColor);
        border: none;
        gap: 12px;
        padding: 12px;

        &:hover {
            background-color: var(--secondColor);
        }
    }
}

#contacList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 12px;

    .sectionList {
        width: 42px;
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-left: 12px;
    }

    hr {
        border: none;
        height: 1px;
        background-color: var(--ligthGrey);
        margin: 8px 0;
    }
}

.contactEntry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 12px;
    border-radius: 12px;

    &:hover {
        background-color: var(--primerColor);
        color: var(--contrastColor);
    }

    &.active {
        background-color: var(--primerColor);
        color: var(--contrastColor);
    }
}

.contactlistIcon {
    width: 42px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--secondColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--contrastColor);
    border: solid 2px var(--contrastColor);
    flex-shrink: 0;
}

.contactDitails {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;

    .name,
    .mail {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .name {
        font-size: 20px;
    }

    .mail {
        color: var(--linkColor);
        font-size: 16px;
    }
}

.contacts {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #ddd;
    position: relative;
}

.contactHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    .desktop {
        width: 3px;
        height: 59px;
        border: none;
        background-color: var(--secondColor);
        margin: 8px;
    }

    .mobile {
        display: none;
    }

    h2 {
        font-size: 27px;
        font-weight: 400;
        color: var(--primerColor);
    }
}

.contactBackArrow {
    display: none;
}

#contactSelectet {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
}

.selectedIconName {
    display: flex;
    align-items: center;
    gap: 16px;
}

.selectetIcon {
    width: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--contrastColor);
    border: solid 3px var(--contrastColor);
    font-size: 47px;
    font-weight: 500;
}

.selectedName {
    font-size: 47px;
    font-weight: 500;
}

.selectedNameButtons {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    button {
        color: var(--primerColor);
        border: none;
        background-color: transparent;
        font-size: 16px;
        padding: 12px 0;
        display: flex;
        gap: 8px;
    }
}

.contactInfos {
    margin-top: 32px;
}

table {
    width: 100%;
    margin-top: 24px;
    border-collapse: collapse;

    th {
        text-align: left;
        padding: 12px 0;
    }

    .mail {
        color: var(--linkColor);
    }
}

.sideBarOption {
    display: none;
    position: absolute;
    bottom: 112px;
    right: 16px;

    button {
        display: flex;
        height: 56px;
        width: 56px;
        padding: 0;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: var(--primerColor);
        border-radius: 50%;
    }
}

#mobileEditeBar {
    position: fixed;
    z-index: 100;
    display: none;
    flex-direction: column;
    width: 116px;
    bottom: 112px;
    right: 8px;
    background-color: var(--contrastColor);
    border: solid 2px var(--contrastColor);
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &.visible {
        display: flex;
    }

    button {
        display: flex;
        border: none;
        background-color: transparent;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;
        color: var(--primerColor);
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

dialog {
    border: none;
    border-radius: 34px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    padding: 0;

    div {
        display: flex;
    }
}

.ACBetterTeam {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    background-color: var(--primerColor);
    padding: 48px;
    color: var(--contrastColor);


    img {
        width: 56px;
        height: auto;
    }

    hr {
        border: solid 1.5px var(--secondColor);
        width: 90px;
        margin: 0;
    }

    h2 {
        font-size: 61px;
        font-weight: 700;
        margin: 0;
    }

    p {
        font-size: 27px;
        margin: 0;
    }
}

.contactAdd {
    display: flex;
    width: 67%;
}

.ananymPerson {
    width: 120px;
    height: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--ligthGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    border: solid 3px var(--contrastColor);
    align-self: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-size: 44px;
    color: white;

    img {
        width: 42px;
        height: auto;
    }
}

.contactAddForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 24px;
    margin-top: 24px;

    .cancel {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        margin: 0;
        padding: 4px;
        border: none;
        background-color: transparent;

        img {
            height: 16px;
            width: auto;
        }
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .input-container {
        position: relative;
        width: 100%;
    }

    div {
        position: relative;

        input {
            box-sizing: border-box;
            width: 100%;
            max-width: 100%;
            height: 50px;
            font-size: 16px;
            padding-left: 24px;
            border: solid 1px var(--ligthGrey);
            border-radius: 12px;

            &::placeholder {
                color: var(--ligthGrey);
            }

            &:focus {
                outline: none;
                border-color: var(--secondColor);
            }

            &.invalid {
                border-color: var(--invalideColor);
            }
        }

        .inputIcon {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            height: 16px;
            width: auto;
        }
    }

    .validation-message {
        visibility: hidden;
        color: var(--invalideColor);
        font-size: 16px;
        padding-left: 4px;
        height: 16px;
    }

    .validation-message.show {
        visibility: visible;
    }
}

.contactAddButtons,
.contactEditButtons {
    display: inline-flex;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 24px;
    margin-bottom: 24px;

    button {
        align-items: center;
        padding: 12px;
        border: none;
        gap: 8px;
        font-size: 16px;

        .contactAddButtonsImg {
            align-self: center;
        }
    }

    .contactAddCancel,
    .contactEditDelete {
        display: inline-flex;
        background-color: transparent;
        color: var(--primerColor);
        border: solid 1px var(--primerColor);

        &:hover {
            color: var(--secondColor);
            border-color: var(--secondColor);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

            img {
                filter: invert(68%) sepia(21%) saturate(7319%) hue-rotate(165deg) brightness(96%) contrast(85%);
            }
        }
    }

    .contactAddCreate,
    .contactEditSave {
        display: inline-flex;
        background-color: var(--primerColor);
        color: var(--contrastColor);

        &:hover {
            background-color: var(--secondColor);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        }
    }
}


@media (max-width: 1100px) {
    main {
        display: block;
        height: calc(100vh - 80px - 80px);
    }

    .sideBar {
        width: 100%;
        max-width: calc(100% - 24px);
        padding: 12px 12px;
        display: block;

        &.hidden {
            display: none;
        }
    }

    .addNewContact {
        display: none;
    }

    .contacts {
        width: calc(100% - 42Px);
        display: none;

        &.visible {
            display: block;
        }
    }

    .contactHeader {
        display: block;
        flex-direction: column;
        gap: 8px;

        h1 {
            font-size: 47px;
            margin-bottom: 0;
        }

        h2 {
            font-size: 20px;
            margin-top: 0;
        }

        .desktop {
            display: none;
        }

        .mobile {
            height: 3px;
            width: 90px;
            border: none;
            background-color: var(--secondColor);
            display: flex;
            justify-content: flex-start;
            margin: 0;
        }
    }

    .selectetIcon {
        width: 80px;
        font-size: 27px;
    }

    .selectedName {
        font-size: 36px;
    }

    .selectedNameButtons {
        display: none;
    }

    .contactBackArrow {
        display: flex;
        position: absolute;
        top: 140px;
        right: 20px;
        aspect-ratio: 1 / 1;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: transparent;
        border: none;

        img {
            height: 24px;
            width: auto;
        }
    }

    .sideBarOption {
        display: block;
    }

    dialog {
        width: 90%;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    .ACBetterTeam {
        height: 32vh;
        display: inline-flex;
        width: calc(100% - 48px);
        background-color: var(--primerColor);
        padding: 24px;

        img {
            display: none;
        }

        h2 {
            font-size: 47px;
        }

        p {
            font-size: 20px;
        }
    }

    .contactAdd {
        display: inline-flex;
        width: calc(100% - 48px);
        padding: 0 24px;
    }

    .ananymPerson {
        margin: 0;
        transform: translateY(-50%);
        margin-bottom: -40px;
    }

    .contactAddForm {
        margin-right: 0;
        align-items: center;
        width: 100%;
        gap: 12px;

        .cancel {
            position: absolute;
            top: 20px;
            right: 20px;

            img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(34deg) brightness(106%) contrast(101%);
            }
        }

        div {
            gap: 12px;
            width: 100%;

            input {
                height: 40px;

                &.invalide {
                    border-color: var(--invalideColor);
                }
            }
        }
    }

    .contactAddButtons {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;

        .contactAddCancel {
            display: none;
        }

        .contactAddCreate {
            width: max-content;
            margin: 0 auto;
        }
    }

    .contactEditButtons {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        flex-direction: row;

        .contactEditDelete,
        .contactEditSave {
            width: max-content;
            justify-content: center;
        }
    }

}

#contact-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--contrastColor);
    width: 240px;
    gap: 12px;

    position: fixed;
    bottom: 100px;
    right: 40px;
    background-color: var(--primerColor);
    border-radius: 12px;
    padding: 12px 20px;

    z-index: 1000;

    transform: translateX(calc(100% + 40px));
    transition: transform 500ms ease-in-out, bottom 500ms ease-in-out;
}

/* Mobile: von unten nach oben */
@media (max-width: 1100px) {
    #contact-message {
        bottom: -100px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        transition: bottom 500ms ease-in-out;
    }

    #contact-message.show {
        bottom: 120px;
        transform: translateX(-50%);
        animation: slideUpBounce 500ms ease-out;
    }
}

/* Desktop: von rechts */
@media (min-width: 1101px) {
    #contact-message.show {
        transform: translateX(0);
    }
}

@keyframes slideUpBounce {
    0% {
        bottom: -100px;
    }
    70% {
        bottom: 130px;
    }
    100% {
        bottom: 120px;
    }
}