main {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sideBar {
    width: 35%;
    background: #f4f4f4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto; 
}

.contacts{
    flex: 1;
    padding: 20px;
    background: #fff;
    border-left: 2px solid #ddd;
}

.contactHeader {
    display: flex;
    justify-content: center; 
    align-items: center;  
    text-align: center;          
    gap: 12px;

    hr {
        width: 3px;
        height: 59px;
        border: none;
        background-color: var(--secondColor);
    }

    h2 {
        font-size: 27px;
        font-weight: 400;
    }
}