body {
    display: flex;
    width: 100%;
    height: 100vh;
}

#header{
    width: 100%;
    height: 96px;
}

#side-bar {
    background: #2a3648;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 232px;
}

#content-section{
    display: flex;
    flex-direction: column;
}