#header {
    min-height: 96px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 1100;
}

header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
    max-width: 1920px;
}

#header-logo {
    display: none;
}

#header-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

#header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 104px;
    gap: 16px;
}

.mode-guest #header-right {
    display: none !important;
}

#help-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

#help-button {
    width: 26px;
    height: 26px;
    color: #cdcdcd;
}

#help-button:hover {
    width: 32px;
    height: 32px;
    transition: 0.2s;
    cursor: pointer;
}

#user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 3px solid #2a3647;
    border-radius: 559px;
    color: #28abe2 !important;
}

#user-icon:hover {
    background-color: #e2e6ec;
    cursor: pointer;
    transition: 0.2s;
}

#user-initials {
    font-size: 20px;
    font-weight: 600;
}

#dialogLogOut {
    position: fixed;
    inset: auto;
    top: 96px;
    right: max(64px, calc(100vw - 2100px));
    width: 150px;
    height: auto;
    padding: 10px;
    margin: 0;
    border: solid 1px var(--primerColor);
    border-radius: 20px 0 20px 20px;
    background-color: var(--primerColor);

    button {
        display: flex;
        width: 100%;
        height: 50px;
        border: unset;
        border-radius: 10px;
        background-color: transparent;
        color: #cdcdcd;
        padding: 0 12px;
        font-size: 16px;
        font-weight: 600;
        justify-content: flex-start;
        align-items: center;
        transition: 0.2s;
    }

    #help-button {
        display: none;
    }
}

#dialogLogOut>button:hover {
    cursor: pointer;
    background-color: #3a4a62;
}

#dialogLogOut>#help-button:hover {
    background-color: #3a4a62;
}

#dialogLogOut::backdrop {
    background: transparent;
    backdrop-filter: none;
}

dialog button:focus {
    outline: none;
}

@media (max-width: 1100px) {
    #header {
        min-height: 80px;
    }

    header {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        z-index: 10;
    }

    #header-title {
        display: none;
    }

    #header-logo {
        display: block;
        width: 32px;
        height: 39.2px;
        z-index: 1;
    }

    #dialogLogOut {
        top: 80px;
        right: 12px;

        #help-button {
            display: flex;
            width: 100%;
            height: 50px;
            border: none;
            border-radius: 10px;
            background-color: transparent;
            color: #cdcdcd;
            padding: 0 12px;
            font-size: 16px;
            font-weight: 600;
            justify-content: flex-start;
            align-items: center;
        }
    }
}