h1 {
    font-size: 61px;
    font-weight: 700;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.flex-row h2 {
    margin-right: 30px;
}

.margin-0 {
    margin: 0;
}

.light-blue {
    color: var(--secondColor);
}

.floating-back-button {
    display: grid;
    position: absolute;
    top: 160px;
    right: 24px;
    place-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 5;
    transition: background-color 100ms ease-in-out;
}

.floating-back-button:hover {
    background-color: #dddddd;
}

@media (max-width: 1100px) {
    h1 {
        font-size: 47px;
    }

    .floating-back-button {
        top: 120px;
    }
}