.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.flex-row h2 {
    margin-right: 30px;
}

.margin-0 {
    margin: 0;
}

.light-blue {
    color: #29ABE2;
}

.floating-back-button {
    position: sticky;
    top: 24px;
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-bottom: 16px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 5;
    transition: background-color 100ms ease-in-out;
}

.floating-back-button:hover {

    background-color: #dddddd;

}