.flex-row{
    display: flex;
    flex-direction: row;   
    margin-top: 20px;
}
.flex-row h2{
    margin-right: 30px;
}

.margin-0{
    margin: 0;
}

.light-blue{
    color: #29ABE2;
}

.floating-back-button {
    position: sticky;
    top: 24px;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-bottom: 16px;
    text-decoration: none;
    z-index: 5;
}

.floating-back-button:hover {
    cursor: pointer;
    opacity: 0.8;
}


