/*Logo Animation*/

/* Weißer Fullscreen-Hintergrund */
#overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: white;
    z-index: 2000;
    opacity: 1;
    transition: opacity 0.8s ease;
    transition-delay: 0.3s;
}

/* Logo startet in der Mitte */
#logo_dark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    transition: top 0.8s ease, left 0.8s ease, transform 0.8s ease;
    z-index: 2001;
    width: 100px;
    height: 122px;
    transition-delay: 0.3s;
}

/* Wenn Seite geladen – animation starten */
body.loaded #overlay {
  opacity: 0;
}

body.loaded #logo_dark {
  top: 80px;          /* endgültige Position */
  left: 77px;
  transform: translate(0,0) scale(1);
}