#side-bar {
    min-width: 232px;
    height: 100vh;
}

a {
    text-decoration: none;
}

#links-and-footer p {
    color: #CDCDCD;
    top: 232px;
}

#sidebar-main {
    width: 100%;
}

#links-and-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    width: 100%;
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: background-color 0.5s;
}

.link-wrapper:not(.current-page):hover {
    background-color: #2A3D59;
    transition: background-color 0.5s;
}

#sidebar-footer .link-wrapper:not(.current-page):hover {
    background-color: transparent;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
    width: 150px
}

.current-page {
    background-color: #091931;
}

.current-page p {
    color: #FFFFFF;
}

.current-page img {
    filter: brightness(0) invert(1);
}


#buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mode-guest #buttons-container {
    display: none !important;
}


#sidebar-logIn {
    display: none;
}

.mode-guest #sidebar-logIn {
    display: flex;
}

#logo {
    height: 284px;
    text-align: center;

    img {
        width: auto;
        height: 120px;
        padding-top: 64px;
    }
}

#sidebar-footer {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

.mode-guest #sidebar-footer {
    display: flex;
}

#sidebar-footer p {
    cursor: pointer;
}

#sidebar-footer p:hover {
    color: #29ABE2;
}

@media (max-width: 1100px) {
    #side-bar {
        height: 80px;
        min-height: 80px;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #logo {
        display: none;
    }

    #buttons-container {
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 0 4px 0 4px;
        box-sizing: border-box;
    }

    .link-wrapper {
        width: 76px;
        max-height: 80px;
        border-radius: 8px;
    }

    .link-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 80px;
        gap: 4px;
    }

    .link-container img {
        width: 24px;
        height: 24px;
        margin-top: 8px;
    }

    .link-container p {
        font-size: 16px;
        margin: 0;
        text-align: center;
        padding-bottom: 8px;
    }

    #sidebar-footer {
        display: none;
    }

    .mode-guest #sidebar-footer {
        display: flex;
        flex-direction: row;
        width: auto;
        padding-bottom: 0;
        margin-top: 0;
        gap: 16px;
    }

    .mode-guest #sidebar-logIn {
        width: auto !important;
        margin-right: auto;
    }

    .mode-guest #links-and-footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    .mode-guest #side-bar {
        padding: 0;
    }
}