a {
    text-decoration: none;
}

#links-and-footer p {
    color: #CDCDCD;
}

#sidebar-main {
    width: 100%;
}

#links-and-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
    width: 100%;
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: background-color 0.5s;
}

.link-wrapper:not(.current-page):hover {
    background-color: #2A3D59;
    transition: background-color 0.5s;
}

#sidebar-footer .link-wrapper:not(.current-page):hover {
    background-color: transparent;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
    width: 150px
}

.current-page {
    background-color: #091931;
}

.current-page p {
    color: #FFFFFF;
}

.current-page img {
    filter: brightness(0) invert(1);
}


#buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logo {
    padding-top: 64px;
    margin-bottom: 100px;
    text-align: center;
}

#sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

#sidebar-footer p {
    cursor: pointer;
}

#sidebar-footer p:hover {
    color: #29ABE2;
}

@media (max-width: 1100px) {
    #side-bar {
        height: 80px;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #logo {
        display: none;
    }

    #buttons-container {
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 16px 0 16px;
        box-sizing: border-box;
    }

    .link-wrapper {
        width: 76px;
        max-height: 80px;
        border-radius: 8px;
    }

    .link-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 80px;
        gap: 4px;
    }

    .link-container img {
        width: 24px;
        height: 24px;
        margin-top: 8px;
    }

    .link-container p {
        font-size: 16px;
        margin: 0;
        padding-bottom: 8px;
    }

    #sidebar-footer {
        display: none;
    }
}

@media (max-width: 360px) {
    .link-container p {
        display: none;
    }
}