body{
    margin: 0;
    background-color: rgba(246, 247, 248, 1);
    font-family: Inter;
}

#logo_dark{
    height: 122px;
    width: 100px;
    position: absolute;
    top: 80px;
    left: 77px;
}

#main-container{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sign_up_container{
    background-color: rgba(255, 255, 255, 1);    
    border: none;
    border-radius: 30px;
    padding: 48px 88px 48px 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    box-shadow: rgba(0, 0, 0, 0.04);
    position: relative;
}

#sign_up_title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 422px;
}

#back_button_container{
    width: 34px;
    height: 34px;
    position: absolute;
    left: 48px;
    top: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back_button_container:hover{
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 50%;
    transition: ease-in-out 100ms;
}

#sign_up_title_container>h2{
    display: inline-block;
    font-size: 61px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-block-start: 0;
    margin-block-end: 0;
}

#sign_up_title_container>h2::after{
  content: "";
  display: block;
  width: 150px; 
  height: 3px;
  background: rgba(41, 171, 226, 1);
  margin: 0 auto;
  margin-top: 12px;
}

#ghost_section {
    width: 34px;
}

#sign_up_main_container{
    width: 422px;
    height: 326px;
}

#sign_up_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text-input{
    max-width: 422px;
    border: 1px solid #d1d1d1;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
    background-image: url('../assets/img/person.svg');
    background-position: 380px; 
    background-repeat: no-repeat;
    font-size: 20px;
}

.text-input::placeholder{
    color: #d1d1d1;
}

#name{
    background-image: url('../assets/img/person.svg');
    background-position: 380px; 
    background-repeat: no-repeat;
}

#email{    
    background-image: url('../assets/img/mail.svg');
    background-position: 380px; 
    background-repeat: no-repeat;}

.password {
    background-image: url('../assets/img/lock.svg');
    background-position: 380px; 
    background-repeat: no-repeat;
}

#false_password {
    font-size: 12px;
    color: #ec405e;
}

#sign_up_checkbox_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#checkbox:hover{
    cursor: pointer;
}

#sign_up_checkbox_container > p{
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: default;
}

footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer_link {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_link > a{
    height: 35px;
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
}

.footer_link > a:hover{
    color: #2aabe2;
    transition: ease-in-out 100ms;
    font-weight: 700;
}
