/**/

body{
    margin: 0;
    background-color: rgba(246, 247, 248, 1);
    font-family: Inter;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo_dark{
    height: 122px;
    width: 100px;
    position: absolute;
    top: 80px;
    left: 77px;
}

.main-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_signup_container{
    width: 100%;
    max-width: 652px; 
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 32px 12px;
    background-color: var(--contrastColor);
    gap: 32px;
}

#sign_up_title_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#back_button_container{
    width: 34px;
    height: 34px;
    position: absolute;
    left: 48px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back_button_container:hover{
    background-color: #dddddd;
    cursor: pointer;
    transition: ease-in-out 100ms;
}

#sign_up_title_container>h2{
    display: inline-block;
    font-size: 61px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-block-start: 0;
    margin-block-end: 0;
}

#sign_up_title_container>h2::after{
  content: "";
  display: block;
  width: 150px; 
  height: 3px;
  background: rgba(41, 171, 226, 1);
  margin: 0 auto;
  margin-top: 12px;
}

#ghost_section {
    width: 34px;
}

#sign_up_main_container{
    width: 422px;
    height: 326px;
}

.sign_in_up_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.formCon {
    position: relative;
    width: 100%;
    max-width: 422px;
}

.inputForm {
    position: relative;
    width: 100%;
}
.inputForm input{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d1d1d1;
    padding: 12px 48px 12px 12px;
    border-radius: 10px;
    font-size: 20px;
}
.inputIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: auto;
}
.inputIcon.clickable {
    cursor: pointer;
}
.inputIcon.clickable:hover {
    opacity: 0.7;
}





.false_password {
    font-size: 12px;
    color: #ec405e;
    display: none;
}
.false_password.show {
    display: block;
}

#sign_up_checkbox_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#checkbox:hover{
    cursor: pointer;
}

#sign_up_checkbox_container > p{
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: default;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer_link {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_link > a{
    height: 35px;
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
}

.footer_link > a:hover{
    color: #2aabe2;
    transition: ease-in-out 100ms;
    font-weight: 700;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.noUser {
    display: flex;
    gap: 18px;
    justify-content: flex-end;
    padding: 24px;
    align-items: center;
}
.noUserBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primerColor);
    font-size: 21px;
}
.signupBtn {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--primerColor);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}






.LoginStart {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttonLoginCon{
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
}


@media (max-width: 780px) {
    .buttonLoginCon {
        flex-direction: column;
        gap: 12px;
        align-items: stretch;
    }
    .buttonLoginCon button {
        width: 100%;
        max-width: none;
    }
    
}

.inputLogin input.invalid {
    border-color: red;
}
