.Login {
    /* background-color: blue; */
    max-width: 652px;
    height: auto;
    border-radius: 32px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.underline {
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
    margin: 20px auto;
    border-radius: 2px;
    margin: 0;
}
.inputLogin {
    position: relative;
    width: 422px;
    margin: 10px 0;
}
.inputLogin input {
    width: 422px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    padding-left: 12px;
}
.icon-clickable {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}