body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo_dark {
  display: flex;
  height: auto;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%) scale(3);
  animation: moveLogo 0.5s ease-in-out 0.5s forwards;
  position: fixed;
}

.logo_light {
  display: none;
}

@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }

  100% {
    top: 20px;
    left: 20px;
    transform: translate(0, 0) scale(1);
  }
}

.logo_dark_registration {
  display: flex;
  height: auto;
  z-index: 1000;
  top: 20px;
  left: 20px;
  width: 100px;
  position: fixed;
  }

header.start-animation ,
main.start-animation ,
footer.start-animation  {
  opacity: 0;
  animation: fadeInContent 0.4s ease 0.8s forwards;
}

@keyframes fadeInContent {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login_signup_container {
  width: 100%;
  max-width: 652px;
  box-sizing: border-box;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 32px 12px;
  background-color: var(--contrastColor);
  gap: 32px;
}

.sign_up_title_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  h2 {
    display: inline-block;
    font-size: 61px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-block-start: 0;
    margin-block-end: 0;

    &::after {
      content: "";
      display: block;
      width: 150px;
      height: 3px;
      background: rgba(41, 171, 226, 1);
      margin: 12px auto 0;
    }
  }
}

.back_button_container {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #dddddd;
    cursor: pointer;
    transition: ease-in-out 100ms;
  }
}

#ghost_section {
  width: 34px;
}

#sign_up_main_container {
  width: 422px;
  height: 326px;
}

.sign_in_up_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formCon {
  position: relative;
  width: 100%;
  max-width: 422px;
}

.inputForm {
  position: relative;
  width: 100%;

  input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d1d1d1;
    padding: 12px 48px 12px 12px;
    border-radius: 10px;
    font-size: 20px;

    &.invalid {
      border-color: var(--invalideColor);
    }
  }

  .inputIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: auto;

    &.clickable {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.false_password {
  font-size: 12px;
  color: var(--invalideColor);
  display: none;
  margin: 12px 0 0 0;

  &.show {
    display: block;
  }
}

#sign_up_checkbox_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 12px 0 0 0;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: default;
  }

  #checkbox:hover {
    cursor: pointer;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .footer_link {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      height: 35px;
      text-decoration: none;
      color: rgba(168, 168, 168, 1);
      font-size: 16px;
      font-weight: 400;
      padding: 8px;

      &:hover {
        color: #2aabe2;
        transition: ease-in-out 100ms;
        font-weight: 700;
      }
    }
  }
}

header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.noUser {
  gap: 18px;
  justify-content: flex-end;
  padding: 24px;
  align-items: center;

  .noUserBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primerColor);
    font-size: 21px;
  }
}

.signupBtn {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--primerColor);
  color: var(--contrastColor);
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.buttonLoginCon {
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}


@media (max-width: 780px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }

  html body.start-animation {
    background-color: var(--primerColor);
    animation: FadeWhite 0.5s ease-in-out 0.5s both;
  }

  @keyframes FadeWhite {
    0% {
      background-color: var(--primerColor);
    }

    100% {
      background-color: var(--contrastColor);
    }
  }

  .start-animation .logo_dark {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 64px;
    transform: translate(-50%, -50%) scale(2);
    z-index: 1000;
    animation: moveDarkLogo 0.5s ease-in-out 0.5s forwards;
  }

  @keyframes moveDarkLogo {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
    }

    100% {
      top: 18px;
      left: 18px;
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }

  .start-animation .logo_light {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 64px;
    transform: translate(-50%, -50%) scale(2);
    z-index: 1001;
    animation: moveLightLogo 0.5s ease-in-out 0.5s forwards;
  }

  @keyframes moveLightLogo {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      opacity: 1;
    }

    100% {
      top: 18px;
      left: 18px;
      transform: translate(0, 0) scale(1);
      opacity: 0;
    }
  }

  .logo_dark_registration {
    width: 64px;
    position: fixed;
    top: 18px;
    left: 18px;
    z-index: 1000;
  }

  .buttonLoginCon {
    flex-direction: column;
    gap: 12px;
    align-items: stretch;

    button {
      width: 100%;
      max-width: none;
    }
  }

  .sign_up_title_container {
    h2 {
      font-size: 47px;
    }
  }
}

.invalid {
  border-color: var(--invalideColor);
}