top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#keyMetricsText {
    font-size: 27px;
    font-weight: 400;
    color: #4A4A4A;
    margin-left: 20px;
}