#top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#keyMetricsText {
    font-size: 27px;
    font-weight: 400;
}

#task-metrics {
    display: flex;
    flex-direction: row;
    gap: 38px;
}

.metrics-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 38px;
}

.number-and-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number-category{
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.category{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.metrics-container{
    background-color: white;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
}