

#task_card_overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
}


#task_card_overlay.active {
    opacity: 1;
    z-index: 1000;
}

#task_card_overlay.closing {
    transition: ease-in-out 200ms;
    opacity: 0;
    z-index: -1;
}

#task-card, #edit-task-card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    height: 100vh;
    max-width: 525px;
    max-height: 931px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#task_card_overlay.active #task-card {
    transform: translateX(0);
}

#task_card_overlay.closing #task-card {
    transform: translateX(100%);
}

#task_card_overlay.active #edit-task-card {
    transform: translateX(0);
}

#task_card_overlay.closing #edit-task-card {
    transform: translateX(100%);
}

#task-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

#task-category-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: auto;
    height: 36px;
    padding: 4px 24px 4px 24px;
    font-size: 23px;
    color: white;
}

#close-task-card-button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;
}

#close-task-card-button:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

#task-title {
    font-size: 61px;
    font-weight: 700;
    background: white;
    text-align: start;
    height: auto;
    padding: 0;
}

#task-description {
    font-size: 20px;
    font-weight: 400;
    background: white;
    text-align: start;
    height: auto;
    padding: 0;
    min-height: 24px;
}

#task-due-date-container{
    display: flex;
    align-items: center;
    gap: 25px;
    height: 24px;
    font-size: 20px;
}

#task-priority-container {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 32px;
    font-size: 20px;
}

#task-priority {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    height: 100%;
}

#task-assignment-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    font-size: 20px;
    max-height: 208px;
}

#assigned-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 180px;
    overflow-y: auto;
}

.assigned-person {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 56px;
    box-sizing: border-box;
    padding: 7px 16px 7px 16px;
}


#task-subtasks {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 20px;
}

#task-card-head,
#task-title,
#task-description,
#task-due-date-container,
#task-priority-container,
#task-assignment-container {
    margin-top: 0;
    margin-bottom: 20px;
}

#task-assignment-container>p {
    margin: 0;
}

 #task-subtasks > p {
    margin-bottom: 8px;
 }

  #task-subtasks > div {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
 }

.subtask {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 8px;
}

.subtask:hover {
    background-color: #f0f0f0;
    width: max-content;
}

.subtask-checkbox {
    width: 20px;
    height: 20px;
}

.subtask-checkbox:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

#task-card-bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 24px;
    gap: 8px;
}

#edit-task,
#delete-task {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 8px;
}

#edit-task:hover #task-button-icon-edit{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(69%) sepia(23%) saturate(7173%) hue-rotate(165deg) brightness(95%) contrast(87%);
}

 #edit-task:hover > p {
    color: var(--secondColor);
    cursor: pointer;
 }

#delete-task:hover #task-button-icon-delete{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(69%) sepia(23%) saturate(7173%) hue-rotate(165deg) brightness(95%) contrast(87%);
}

#delete-task:hover > p {
    color: var(--secondColor);
    cursor: pointer;
 }

.task-button-icon:hover {
  filter: brightness(0) saturate(100%) invert(69%) sepia(23%) saturate(7173%) hue-rotate(165deg) brightness(95%) contrast(87%);
}


@media (max-width: 900px) {

    #task-card, #edit-task-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #task-card-head {
        height: 32px;
    }

    #task-category-box {
        height: 27px;
        font-size: 16px;
    }

    #task-title {
        font-size: 36px;
    }

    #task-description {
        font-size: 16px;
    }

    #task-due-date-container {
        font-size: 16px;
    }

    #task-priority-container {
        font-size: 16px;
    }

    #task-assignment-container {
        font-size: 16px;
    }

    #task-subtasks {
        font-size: 16px;
    }
}

/*Edit Task Card Styles*/
#edit-task-card-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 36px;
    margin-bottom: 12px;
}

#close-edit-task-card-button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;
}

#close-edit-task-card-button:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

#edit-assignment-container {
    margin-bottom: 20px;
}

#edit-assign-input-box{
    position: relative;
}

#edit-assign-input::placeholder, #edit-category-input input::placeholder {
    color: black;
}

#edit-assign-input:focus::placeholder {
  color: transparent;
  transition: 200ms;
}

#edit-category-input{
    position: relative;
    caret-color: transparent;
}

.edit-dropdown-img-container{
    width: 20px;
    height: 20px;
}

.edit-dropdown-img-container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-dropdown-img-container:hover {
    background-color: var(--ligthGrey);
    cursor: pointer;
}

#edit-contacts-dropdown, #edit-category-dropdown{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    width: 100%;
    background-color: var(--contrastColor);
    border: 1px solid #ccc;
    border-radius:0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: -8px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#edit-contacts-dropdown.open {
    max-height: 280px;
    overflow-y: auto;
    opacity: 1;
}

#edit-category-dropdown.open {
    max-height: 280px;
    opacity: 1;
}

.edit-dropdown-box{
    height: 56px;
    display: flex;
    align-items: center;
    padding: 2px 12px 2px 12px;
    transition: 200ms;
    border-radius: 10px;
    gap: 12px;
    box-sizing: border-box;
}

.edit-selected-contact {
    background-color: var(--primerColor) !important;
    color: var(--contrastColor);
}

.edit-selected-contact:hover{
    background-color: #091930 !important;
}

.edit-dropdown-box:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.edit-contact-initials, .edit-chosen-contact-initials{
    width: 38px;
    height: 38px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid white 2px;
    border-radius: 50%;
}

.edit-contact-name-checkbox{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.edit-checkbox{
    width: 16px;
}

.edit-checkbox-active{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

#edit-chosen-contacts{
    display: flex;
    gap: 6px;
    height: 56px;
    align-items: center;
}

#edit-category-input{
    margin-bottom: 20px;
}

.edit-category-box{
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    transition: 200ms;
}

.rotate{
    transform: rotate(180deg);
}

#edit-subtask-input-wrapper {
    position: relative;
}

#edit-subtask-button-container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 56px;
}

.edit-subtask-button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.edit-subtask-button:hover {
    cursor: pointer;
    background-color: var(--ligthGrey);
}

ul {
    padding-inline-start: 0px;
}

li {
    padding: 4px 20px 4px 20px;
}

.edit-subtask-element-box {
    list-style-position: inside;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.edit-subtask-element-box input {
    width: 100%;
    padding: 4px 20px !important;
    text-align: left !important;
    box-sizing: border-box !important;
}

.edit-subtask-element-box:hover {
    background-color: #e9e8e8;
    cursor: pointer;
}

.edit-subtask-element-box:hover .edit-subtask-list-button-container {
    visibility: visible;
} 

.edit-subtask-list-button-container{
    width: 56px;
    display: flex;
    visibility: hidden;
    justify-content: space-evenly;
    align-items: center;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.edit-subtask-list-button {
    width: 14px;
}

#edit-subtask-input{
    height: 30px;
    border-radius: 0;
    border-bottom: #2aaae2 solid 2px;
    text-align: left;
}

#save-edit-task-button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

#edit-save-edit-task-button{
    width: 80px;
    height: 48px;
    background-color: var(--primerColor);
    color: var(--contrastColor);
    border-radius: 10px;
    border: none;
    font-size: 21px;
    font-style: bold;
    transition: 100ms ease-in-out;
    justify-content: center;
}

#save-edit-task-button-img {
    filter: brightness(0) saturate(100%) invert(96%) sepia(4%) saturate(15%) hue-rotate(110deg) brightness(104%) contrast(103%);
}

#edit-save-edit-task-button:hover{
    cursor: pointer;
    background-color: var(--secondColor);
    box-shadow: #00000040 0px 4px 15px;
}

@media (max-width: 400px) {
    #task-card, #edit-task-card {
        padding: 16px;
    }
}