

header{
    max-width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

#header-title{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 1);
}

#header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 104px;
    gap: 16px;
}

#help-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

#help-button{
    width: 26px;
    height: 26px;
}

#help-button:hover{
    width: 32px;
    height: 32px;
    transition: 0.2s;
    cursor: pointer;
}

#user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 3px solid #2a3647;
    border-radius: 559px;
    color: #28abe2;
}

#user-icon:hover{
    background-color: #e2e6ec;
    cursor: pointer;
    transition: 0.2s;
}

#user-initials{
    font-size: 20px;
    font-weight: 600;
}