.blue_text{
    color: rgba(41, 171, 226, 1);
    text-decoration: none;
}
:root {
    --primerColor: #2A3647;
    --contrastColor: white; 
    --secondColor: #29ABE2;
    --invalideColor: #ec405e;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1 {
    font-size: 61px;
    margin: 12px;
}
@media (max-width: 780px) {
    h1 {
        font-size: 47px;
    }
}


/* Icon */
#personIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;    
    align-items: center;
    justify-content: center;
    border: solid 3px var(--primerColor);
    line-height: 1;             
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: var(--secondColor);
}