body{
    font-family: Inter;
}

.blue_text{
    color: rgba(41, 171, 226, 1);
    text-decoration: none;
}

.red-star{
    color: #ff8190;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --primerColor: #2A3647;
    --contrastColor: white; 
    --secondColor: #29ABE2;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1 {
    font-size: 61px;
    margin: 12px;
}
@media (max-width: 780px) {
    h1 {
    font-size: 47px;
}
}