body{
    font-family: Inter;
    margin: 0;
    padding: 0;
}

.d_none {
    display: none !important;
}

.blue_text{
    color: rgba(41, 171, 226, 1);
    text-decoration: none;
}

.red-star{
    color: #ff8190;
}

:root {
    --primerColor: #2A3647;
    --contrastColor: white; 
    --secondColor: #29ABE2;
    --invalideColor: #ec405e;
    --greyBackround: #f4f4f4;
    --linkColor: #007CEE;
    --ligthGrey: #D1D1D1;
    --maxWidth: 1100px;
    --color1: #ff7a00;
    --color2: #ff5eb3;
    --color3: #6e52ff;
    --color4: #9328ff;
    --color5: #01bee8;
    --color6: #20d7c1;
    --color7: #ff745e;
    --color8: #ffa35e;
    --color9: #fc71ff;
    --color10: #ffc700;
    --color11: #0238ff;
    --color12: #c3ff2b;
    --color13: #ffe62c;
    --color14: #ff4647;
    --color15: #ffbb2c; 

}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1 {
    font-size: 61px;
    font-weight: 700!important;
    margin: 12px 0;
    
}
@media (max-width: 780px) {
    h1 {
        font-size: 47px;
    }
}


/* Icon */
#personIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;    
    align-items: center;
    justify-content: center;
    border: solid 3px var(--primerColor);
    line-height: 1;             
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: var(--secondColor);
}
