@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Inter', sans-serif;
}
h1 {
    font-size: 61px;
    margin: 16px;
}