<div id="links-and-footer">
    <div id="logo">
        <img src="./assets/img/side-bar/logo-white.svg" alt="Logo">
    </div>
    <div id="sidebar-logIn">
        <a id="wrapper-login" class="link-wrapper" href="index.html">
            <div class="link-container" id="login-link">
                <img src="./assets/img/side-bar/login.svg" alt="summary-icon" width="24" height="24">
                <p>Log In</p>
            </div>
        </a>
    </div>
    <div id="sidebar-main">
        <div id="buttons-container">
            <a id="wrapper-summary" class="link-wrapper" href="summary.html">
                <div class="link-container" id="summary-link">
                    <img src="./assets/img/side-bar/icon-summary.svg" alt="summary-icon" width="24" height="24">
                    <p>Summary</p>
                </div>
            </a>
            <a id="wrapper-add" class="link-wrapper" href="add_task.html">
                <div class="link-container" id="add-link">
                    <img src="./assets/img/side-bar/icon-add.svg" alt="add-icon" width="24" height="24">
                    <p>Add Task</p>
                </div>
            </a>
            <a id="wrapper-board" class="link-wrapper" href="board.html">
                <div class="link-container" id="board-link">
                    <img src="./assets/img/side-bar/icon-board.svg" alt="board-icon" width="24" height="24">
                    <p>Board</p>
                </div>
            </a>
            <a id="wrapper-contacts" class="link-wrapper" href="contacts.html">
                <div class="link-container" id="contacts-link">
                    <img src="./assets/img/side-bar/icon-contacts.svg" alt="contacts-icon" width="24" height="24">
                    <p>Contacts</p>
                </div>
            </a>
        </div>
    </div>

    <div id="sidebar-footer">
        <a class="link-wrapper" href="privacy_policy.html">
            <div class="link-container">
                <p>Privacy Policy</p>
            </div>
        </a>
        <a class="link-wrapper" href="legal_notice.html">
            <div class="link-container">
                <p>Legal notice</p>
            </div>
        </a>
    </div>
</div>