<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/fonts.css">
    <link rel="stylesheet" href="../../CSS/sidebar.css">
    <title>side-bar</title>
</head>

<body>
    <div id="logo">
        <img src="../img/side-bar/logo-white.svg" alt="">
    </div>
    <div id="links-and-footer">
        <div id="sidebar-main">
            <div id="buttons-container">
                <div id="wrapper-summary" class="link-wrapper">
                    <div class="link-container" id="summary-link">
                        <img src="../img/side-bar/icon-summary.svg" alt="summary-icon">
                        <p>Summary</p>
                    </div>
                </div>
                <div id="wrapper-add" class="link-wrapper current-page">
                    <div class="link-container" id="add-link">
                        <img src="../img/side-bar/icon-add.svg" alt="add-icon">
                        <p>Add Task</p>
                    </div>
                </div>
                <div id="wrapper-board" class="link-wrapper">
                    <div class="link-container" id="board-link">
                        <img src="../img/side-bar/icon-board.svg" alt="board-icon">
                        <p>Board</p>
                    </div>
                </div>
                <div id="wrapper-contacts" class="link-wrapper">
                    <div class="link-container" id="contacts-link">
                        <img src="../img/side-bar/icon-contacts.svg" alt="contacts-icon">
                        <p>Contacts</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="sidebar-footer">
            <p>Privacy Policy</p>
            <p>Legal notice</p>
        </div>
    </div>
</body>

</html>