<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/fonts.css">
    <title>´side-bar</title>
</head>
<body>
    <div id="logo">
            <p>Logo</p>
        </div>

        <div id="sidebar-main">
            <div id="buttons-container">
                <button>Backlog</button>
                <button>New</button>
                <button>Actual</button>
                <button>Delete</button>
            </div>

            <div id="sidebar-footer">
                <p>Impressum</p>
                <p>Datenschutz</p>
            </div>
        </div>
</body>
</html>