<div class="placeholder-task placeholder-tiles">
    <label id="label-user-story" for="">User Story</label>
    <h4 class="task-title">Kochwelt Page & Recipe Recommender</h4>
    <p class="task-content">Build start page with recipe recommendation...</p>
    <div class="subtasks-container">
        <img src="./assets/img/filler.svg" alt="" class="filler">
        <p class="subtasks-counter">1/2 Subtasks</p>
    </div>
    <div class="tile-footer">
        <div class="task-initials">
            <div class="contact-initials" style="background-color: var(--color2);">
                <p>TU</p>
            </div>
        </div>
        <div class="priority"><img src="./assets/img/add_task/medium.svg" alt="">
        </div>
    </div>
</div>